.card{
  width: 345px;
  height: 375px;
  border-radius: 12px;
  overflow: hidden;
  border: solid 2px var(--baleOrange);
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.imageContainer{
  width: 310px;
  height: 225px;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

.imageContainer img{
  width: 100%;
  min-height: 100%;
  z-index: 0;
}
.cardTxt{
  display: flex;
  justify-content: space-between;
  margin-block-start: 20px;
}

.describe{
  font-size: 14px;
  color: gray;
  font-weight: lighter;
}

.ratePadge{
  position: absolute;
  z-index: 1;
  background-color: #FFF;
  border: solid 2px var(--baleOrange);
  font-size: 14px;
  padding: 5px;
  border-radius: 50px;
  width: 60px;
  display: flex;
  justify-content: space-evenly;
  top: 10px;
  left: 10px;
  box-sizing: border-box;
}