.navBar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding-inline: 200px;
  box-sizing: border-box;
  padding-top: 25px;
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-inline-end: 20px;
  height: 25px;
  vertical-align: middle;
}

.navLink{
  color: var(--brown);
  position: relative;
}